@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}



header nav ul li {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 10px;
    font-size: 20px;
    font-weight: bold;
}

.navbar-nav {
    width: 70%;
}

.nav-item {
    flex: 1;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: white; /* Change this to your desired text color */
}

.navbar-toggler-icon {
    filter: invert(1);
}

.navbar-nav .nav-item:hover .nav-link {
    color: #F2E8F5; /* New text color for hover */
    font-size: 1.35rem; /* You can adjust the font size as needed */
}

header, footer {
    background-color: #8F7FBC;
}

.custom-thick-border {
    border-width: 4px; /* Adjust the thickness as needed */
    border-color: #F2E8F5; /* You can use any color you prefer */
}


.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: auto;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 30px;
    height: 30px;
}
.carousel-control-prev {
    left: -30px; /* Adjust as needed */
}
.carousel-control-next {
    right: -30px; /* Adjust as needed */
}

.navbar-light .navbar-nav .nav-link {
    color: white; /* Change this to your desired text color */
}

.navbar-toggler-icon {
    filter: invert(1);
}

.carousel-control-prev-icon {
    filter: invert(60%) sepia(0%) saturate(282%) hue-rotate(192deg) brightness(94%) contrast(87%);
}

.carousel-control-next-icon {
    filter: invert(60%) sepia(0%) saturate(282%) hue-rotate(192deg) brightness(94%) contrast(87%);
}

/* footer op bodem
/* Voeg deze CSS toe aan je bestaande stijlblad */
html, body {
    height: 100%; /* Zorg ervoor dat de body de volledige hoogte van de viewport heeft */
    margin: 0; /* Verwijder de standaardmarges */
    padding: 0; /* Verwijder de standaardvullingen */
    display: flex; /* Gebruik flexbox voor de hoofdcontainer */
    flex-direction: column; /* Stapel de secties van boven naar beneden */
}

main {
    flex-grow: 1; /* Laat het hoofdgedeelte groeien om de beschikbare ruimte in te nemen */
}

footer {
    flex-shrink: 0; /* Voorkom dat de footer krimpt als er weinig inhoud is */
}


/* Voeg deze CSS toe aan je bestaande stijlblad */
@media (max-width: 767px) {
    .carousel-inner .carousel-item .col-md-4 {
        flex-basis: 100%; /* Afbeeldingen worden op volledige breedte weergegeven */
        margin-bottom: 20px; /* Voeg ruimte toe onder elke afbeelding */
        display: flex; /* Gebruik flexbox om de inhoud te centreren */
        justify-content: center; /* Horizontaal centreren */
        align-items: center; /* Verticaal centreren */
        text-align: center; /* Tekst ook centreren als er enige is */
    }
}

/* Add these styles to change the color of social icons on hover */
.social-icon {
    color: #fff; /* Set the default color */
    transition: color 0.3s ease-in-out; /* Add transition effect */
}

.social-icon:hover {
    color: #F2E8F5; /* Change the color on hover */
}

img {
    border-radius: 5px;
}

